<div class="w-90">
  <div class="flex justify-between border-b">
    <h1
      class="font-nunito font-bold text-[1.2rem] [word-spacing:-1px] tracking-tight uppercase font-stretch-ultra-condensed"
    >
      {{ name }}
    </h1>
    <p class="text-right">⭐⭐⭐⭐⭐</p>
  </div>
  <div class="flex">
    <div class="bg-amber-100 w-0.5"></div>
    <div
      class="bg-amber-900 text-white text-xs font-bold uppercase tracking-tighter pr-2 pl-2 pt-1 border-2 border-amber-100"
    >
      TRAIT
    </div>
    <div class="bg-amber-100 w-0.5"></div>
  </div>
  <div class="text-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur fugiat nemo qui amet
    doloremque. Id qui perspiciatis vitae dolores illo fuga reiciendis quibusdam, veniam ad iusto
    iste possimus dolorem illum.
  </div>
  <div class="text-right">Buttons</div>
</div>
