<div class="card w-90 h-60 bg-foreground rounded-md flex-col flex shadow-lg shadow-title/12">
  <div class="flex justify-between bg-title text-title-text p-1.5 rounded-md">
    <h1 class="font-nunito font-extrabold text-[1.2rem] capitalize pl-2">
      <a
        href="https://2e.aonprd.com/Search.aspx?q=name%3A%22{{
          spell().name
        }}%22+type%3Aspell&type=eqs&display=short"
        target="_blank"
        >{{ spell().name }}</a
      >
    </h1>

    <p class="text-right flex self-center">
      @for (star of stars; track $index) {
        <app-star
          (starClicked)="onStarClickEvent($event)"
          [starId]="star"
          [rating]="spellPersonalData().rating"
        />
      }
    </p>
  </div>

  <div class="flex flex-wrap mt-1 mr-1 ml-1">
    <div class="bg-amber-100 w-0.5"></div>
    @for (trait of spell().system.traits.value; track $index) {
      <app-trait [trait]="trait" />
    }
    <div class="bg-amber-100 w-0.5"></div>
  </div>

  <div class="h-full">
    <app-description-area
      (descriptionChanged)="onDescChangedEvent($event)"
      [description]="spellPersonalData().description"
    />
  </div>

  <div class="ml-auto flex m-2 mr-3">
    <app-prepare-button
      (prepClicked)="onPrepClickEvent()"
      [isPrepared]="spellPersonalData().prepared"
    />
    <app-fav-button (favClicked)="onFavClickEvent()" [isFav]="spellPersonalData().favorite" />
  </div>
</div>
