<div class="modal">
  <span (click)="closeInfo.emit()" class="backdrop"></span>
  <div class="modalContent">
    <div
      class="flex sticky top-0 justify-between font-nunito font-extrabold text-[1.2rem] capitalize pl-2 select-none bg-title text-title-text p-1.5 rounded-md"
    >
      <h1>
        <a
          href="https://2e.aonprd.com/Search.aspx?q=name%3A%22{{
            spell().name
          }}%22+type%3Aspell&type=eqs&display=short"
          target="_blank"
          >{{ spell().name }}</a
        >
      </h1>
      <h1>Rank {{ spell().system.level.value }}</h1>
    </div>

    <div>
      <div class="flex flex-wrap mt-1 mr-1 ml-1 gap-1">
        @for (trait of spell().system.traits.value; track $index) {
          <app-trait [trait]="trait" />
        }
      </div>

      <div class="info">
        <h2><strong>Source</strong> {{ spell().system.publication.title }}</h2>
        <h2>
          <strong> Traditions</strong>
          @for (tradition of spell().system.traits.traditions; track tradition) {
            {{ tradition }}
          }
        </h2>
        <h2>
          @if (spell().system.range && spell().system.range.value != '') {
            <strong>Range</strong> {{ spell().system.range.value }}
          }

          @if (spell().system.area) {
            <strong>Area</strong> {{ spell().system.area.value }}-foot
            {{ spell().system.area.type }}
          }
        </h2>
        @if (spell().system.defense) {
          <h2>
            <strong>Saving Throw </strong>
            @if (spell().system.defense.save.basic) {
              basic
            }
            {{ spell().system.defense.save.statistic }}
          </h2>
        }

        <hr />
        <div class="descriptionContainer" [innerHTML]="spell().system.description.value"></div>
      </div>
    </div>
  </div>
</div>
