<div class="paginator flex items-center justify-between m-2 w-full">
  <div class="indicator">
    <span class="text-purple-600"
      >{{ currPage() * 50 - 49 }}-{{ Math.min(currPage() * 50, spellsLength()) }}</span
    >
    of <span class="text-purple-600">{{ spellsLength() }}</span> spells found
  </div>
  <div class="btnContainer flex gap-2">
    <button (click)="firstPage()" [disabled]="currPage() === 1">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M17.707 5.293a1 1 0 0 1 0 1.414L12.414 12l5.293 5.293a1 1 0 0 1-1.414 1.414l-6-6a1 1 0 0 1 0-1.414l6-6a1 1 0 0 1 1.414 0m-6 0a1 1 0 0 1 0 1.414L6.414 12l5.293 5.293a1 1 0 0 1-1.414 1.414l-6-6a1 1 0 0 1 0-1.414l6-6a1 1 0 0 1 1.414 0"
        />
      </svg>
    </button>
    <button (click)="previousPage()" class="w-25 max-lg:w-30" [disabled]="currPage() === 1">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M14.707 5.293a1 1 0 0 1 0 1.414L9.414 12l5.293 5.293a1 1 0 0 1-1.414 1.414l-6-6a1 1 0 0 1 0-1.414l6-6a1 1 0 0 1 1.414 0"
        /></svg
      >Previous
    </button>
    <button (click)="nextPage()" class="w-25 max-lg:w-30" [disabled]="currPage() === maxPage()">
      Next<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M9.293 18.707a1 1 0 0 1 0-1.414L14.586 12L9.293 6.707a1 1 0 0 1 1.414-1.414l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414 0"
        ></path>
      </svg>
    </button>
    <button (click)="lastPage()" [disabled]="currPage() === maxPage()">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M12.293 5.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414L17.586 12l-5.293-5.293a1 1 0 0 1 0-1.414m-6 0a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414L11.586 12 6.293 6.707a1 1 0 0 1 0-1.414"
        />
      </svg>
    </button>
  </div>
</div>
<div class="separator h-px w-full bg-neutral-500"></div>
