<app-navbar (searchEvent)="receiverSearch($event)" />
@let spellRequest = spells();
@if (spellRequest) {
  @switch (spellRequest.loadingState) {
    @case ('loading') {
      <div class="throbber"></div>
    }
    @case ('error') {
      <p>Error.</p>
    }
    @case ('success') {
      <app-paginator
        (changePageEvent)="changePage($event)"
        [spellsLength]="spellRequest.spells.length"
        [currPage]="page()"
      />
      <div class="flex flex-wrap gap-8 justify-center mt-4 mb-10 ml-[10vw] mr-[10vw]">
        @for (spell of spellRequest.spells; track spell; let i = $index) {
          <!-- Only print current page -->
          @if (i >= page() * 50 - 50 && i <= Math.min(page() * 50, spellRequest.spells.length)) {
            <app-spell-card [spell]="spell" />
          }
        } @empty {
          <p>No spells found with your search</p>
        }
      </div>
    }
  }
}
