.divider {
  height: 30px;
  width: 1px;
  border-left: 1px solid var(--color-background);
}

.searchbar {
  flex-grow: 1;
  display: flex;
}

::placeholder {
  color: #d6c9c2;
}

/* I gotta pass most stuff to plain css so I can make nice responsive view */
@media (max-width: 600px) {
  .divider,
  .logo {
    display: none;
  }

  .guideBtn {
    span {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  nav {
    padding: 6px;
  }
}
