<nav
  class="sticky top-0 w-full flex justify-between items-center p-2 gap-4 h-[52px] pl-[16vw] pr-[16vw] bg-navbar text-background shadow-md shadow-title/12"
>
  <svg class="h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143.896 143.896">
    <path
      d="M34.972 152.505v32.53h143.896v-32.53c-23.018 4.519-55.717 29.069-71.948 29.069s-48.93-24.55-71.948-29.069"
      style="display: inline; fill: #fff; stroke-width: 1.70398"
      transform="translate(-34.972 -41.14)"
    />
    <path
      d="M100.876 44.99a823 823 0 0 0-4.221 59.138l-6.87-.402c-1.44-15.484-.928-28.79-1.425-42.866l-10.282 2.203c-1.044 16.145-2.576 32.161-.774 55.24-4.445-5.314-8.485-11.037-12.042-21.61l-12.362 5.08c7.372 27.142 17.76 73.582 50.87 77.248 38.856.55 40.695-58.133 43.41-90.014l-9.369-2.742c-1.035 10.089-1.986 20.135-4.816 31.12l-5.881-5.134c1.606-17.81 2.173-32.693 2.74-50.841l-9.13-3.427c-2.646 16.283-3.521 32.566-5.244 48.849l-6.303-1.7c.41-18.957.82-38.39 1.23-58.771zm29.104 99.427c-30.083 15.39-46.075-16.907-46.075-16.907 8.296-5.367 37.292-19.676 46.075 16.907"
      style="display: inline; fill: #fff; stroke-width: 2.11667"
      transform="translate(-33.018 -42.312)"
    />
    <circle
      cx="103.302"
      cy="131.521"
      r="6.809"
      style="fill: #fff; stroke-width: 0.307316"
      transform="rotate(20.15 234.211 11.636)scale(1.0734)"
    />
  </svg>
  <span class="logo text-2xl font-semibold select-none">Spellbook2e</span>

  <div class="divider"></div>

  <div class="searchbar flex items-center gap-1">
    <svg class="h-4" aria-hidden="true" viewBox="0 0 16 16">
      <path
        fill="currentColor"
        d="M7 2a5 5 0 1 0 0 10A5 5 0 0 0 7 2M0 7a7 7 0 1 1 12.606 4.192l3.101 3.1-1.414 1.415-3.1-3.1A7 7 0 0 1 0 7"
      />
    </svg>
    <input
      (keydown.enter)="onEnter(SearchBar.value)"
      (focus)="this.isFocus = true"
      (blur)="this.isFocus = false"
      #SearchBar
      type="text"
      class="grow focus:outline-none"
      placeholder="I ponder..."
    />
  </div>
  <div class="flex">
    <div class="flex w-7 justify-center items-center">
      <svg
        (click)="favFilter.set(!favFilter())"
        [ngClass]="{ 'fav-filled': favFilter(), 'fav-blank': !favFilter() }"
        aria-hidden="true"
        class="h-6"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 20c-2.205-.48-9-4.24-9-11a5 5 0 0 1 9-3 5 5 0 0 1 9 3c0 6.76-6.795 10.52-9 11"
        />
      </svg>
    </div>
    <div class="flex w-7 justify-center items-center">
      <svg
        (click)="prepFilter.set(!prepFilter())"
        [ngClass]="{ 'fav-filled': prepFilter(), 'fav-blank': !prepFilter() }"
        aria-hidden="true"
        class="h-6"
        viewBox="-2 -2 24 24"
      >
        <path
          d="M16 3h2v16H5c-1.66 0-3-1.34-3-3V4c0-1.66 1.34-3 3-3h9v14H5c-.55 0-1 .45-1 1s.45 1 1 1h11z"
        />
      </svg>
    </div>
  </div>

  <div class="divider"></div>

  <div routerLink="/guide" class="guideBtn flex justify-center items-center gap-1 cursor-pointer">
    <svg class="h-5" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 1 24 24">
      <path
        fill="currentColor"
        fill-rule="evenodd"
        d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10m0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16m-1-4h2v2h-2zm0-1.992s2-.008 2 0C13 13.006 16 12 16 10c0-2.21-1.773-4-3.991-4A4 4 0 0 0 8 10h2c0-1.1.9-2 2-2s2 .9 2 2c0 .9-3 2.367-3 4.008"
      />
    </svg>
    <span>Guide</span>
  </div>

  <div class="divider"></div>

  <div class="flex justify-center items-center gap-2">
    <a (click)="DownloadJSON()" class="cursor-pointer"
      ><svg class="h-5" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 16 16">
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M11.78 5.841a.75.75 0 0 1-1.06 0l-1.97-1.97v7.379a.75.75 0 0 1-1.5 0V3.871l-1.97 1.97a.75.75 0 0 1-1.06-1.06l3.25-3.25L8 1l.53.53 3.25 3.25a.75.75 0 0 1 0 1.061M2.5 9.75a.75.75 0 0 0-1.5 0V13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V9.75a.75.75 0 0 0-1.5 0V13a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"
          clip-rule="evenodd"
        /></svg
    ></a>
    <a (click)="fileUpload.click()" class="cursor-pointer"
      ><svg class="h-5" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 16 16">
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M11.78 7.159a.75.75 0 0 0-1.06 0l-1.97 1.97V1.75a.75.75 0 0 0-1.5 0v7.379l-1.97-1.97a.75.75 0 0 0-1.06 1.06l3.25 3.25L8 12l.53-.53 3.25-3.25a.75.75 0 0 0 0-1.061M2.5 9.75a.75.75 0 1 0-1.5 0V13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V9.75a.75.75 0 0 0-1.5 0V13a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"
          clip-rule="evenodd"
        /></svg
    ></a>
  </div>
</nav>

<!-- DISPLAY NONE of the file input because I can't style it properly -->
<input
  type="file"
  accept="application/JSON"
  class="hidden"
  (change)="ImportJSON($event)"
  #fileUpload
/>
