<nav class="sticky top-0 w-full flex p-4 bg-navbar shadow-md shadow-title/12">
  <a routerLink="/"><span class="text-3xl font-semibold text-background">Spellbook2e</span></a>
  <div>
    <input
      (keydown.enter)="onEnter(SearchBar.value)"
      (focus)="this.isFocus = true"
      (blur)="this.isFocus = false"
      #SearchBar
      type="text"
      class="w-full p-2 pl-4 pr-30 text-sm text-gray-700 border border-gray-300 bg-gray-50 focus:border-blue-500"
      placeholder="I ponder..."
    />
  </div>
</nav>
