/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,75..125,200..1000;1,6..12,75..125,200..1000&display=swap');
@import 'tailwindcss';

@theme {
  --font-nunito: 'Nunito Sans', sans-serif;
  --color-background: #f4eee0;
  --color-foreground: #ece2c6;
  --color-title: #5d0000;
  --color-title-text: #cbc18f;
  --color-blank-star: #360004;
}

html {
  background-color: var(--color-background);
}

* {
  font-family: var(--font-nunito);
}
